* {
    border: none;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #d4b9b9;
    background-image: url('../img/characters_art_mas_mob_01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

header {
    background-color: red;
    position: sticky;
    top: 0;
}